<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verification</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; width: 100% ; align-items: center; ">
        <h1 style="font-size: 40px;">Your Email Has Been Verified</h1>
        <img src="https://sendgrid.com/wp-content/uploads/2019/12/confirmation-email-examples.png" alt="my photo" style="height:400px ; width: 1000px;"/>
    </div>
</body>
</html>